@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-first;
    @apply text-fourth
  }

  .text-outline-first {
    @apply text-transparent;
    -webkit-text-stroke: 1px #0092ca;
  }

  .text-outline {
    -webkit-text-stroke: 2px #222831;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #0092ca;
  }
}